In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("train.csv")
df

,Unnamed: 0,Id,MSSubClass,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,C (all),FV,RH,RL,RM
0,0,1,60,65,8450,Pave,Reg,Lvl,AllPub,Inside,...,2,2008,WD,Normal,208500,0,0,0,1,0
1,1,2,20,80,9600,Pave,Reg,Lvl,AllPub,FR2,...,5,2007,WD,Normal,181500,0,0,0,1,0
2,2,3,60,68,11250,Pave,IR1,Lvl,AllPub,Inside,...,9,2008,WD,Normal,223500,0,0,0,1,0
3,3,4,70,60,9550,Pave,IR1,Lvl,AllPub,Corner,...,2,2006,WD,Abnorml,140000,0,0,0,1,0
4,4,5,60,84,14260,Pave,IR1,Lvl,AllPub,FR2,...,12,2008,WD,Normal,250000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,1455,1456,60,62,7917,Pave,Reg,Lvl,AllPub,Inside,...,8,2007,WD,Normal,175000,0,0,0,1,0
1334,1456,1457,20,85,13175,Pave,Reg,Lvl,AllPub,Inside,...,2,2010,WD,Normal,210000,0,0,0,1,0
1335,1457,1458,70,66,9042,Pave,Reg,Lvl,AllPub,Inside,...,5,2010,WD,Normal,266500,0,0,0,1,0
1336,1458,1459,20,68,9717,Pave,Reg,Lvl,AllPub,Inside,...,4,2010,WD,Normal,142125,0,0,0,1,0
1337,1459,1460,20,75,9937,Pave,Reg,Lvl,AllPub,Inside,...,6,2008,WD,Normal,147500,0,0,0,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1338 non-null   int64
 1   MSSubClass     1338 non-null   int64
 2   LotFrontage    1338 non-null   int64
 3   LotArea        1338 non-null   int64
 4   Street         1338 non-null   object
 5   LotShape       1338 non-null   object
 6   LandContour    1338 non-null   object
 7   Utilities      1338 non-null   object
 8   LotConfig      1338 non-null   object
 9   LandSlope      1338 non-null   object
 10  Neighborhood   1338 non-null   object
 11  Condition1     1338 non-null   object
 12  Condition2     1338 non-null   object
 13  BldgType       1338 non-null   object
 14  HouseStyle     1338 non-null   object
 15  OverallQual    1338 non-null   int64
 16  OverallCond    1338 non-null   int64
 17  YearBuilt      1338 non-null   int64
 18  YearRemodAdd   1338 non-null   int64
 19  RoofStyle      1338 non-null   object
 20  RoofMatl       1338 non-null   object
 21  Exterior1st    1338 non-null   object
 22  Exterior2nd    1338 non-null   object
 23  MasVnrType     1338 non-null   object
 24  MasVnrArea     1338 non-null   float64
 25  ExterQual      1338 non-null   object
 26  ExterCond      1338 non-null   object
 27  Foundation     1338 non-null   object
 28  BsmtQual       1338 non-null   object
 29  BsmtCond       1338 non-null   object
 30  BsmtExposure   1338 non-null   object
 31  BsmtFinType1   1338 non-null   object
 32  BsmtFinSF1     1338 non-null   int64
 33  BsmtFinType2   1338 non-null   object
 34  BsmtFinSF2     1338 non-null   int64
 35  BsmtUnfSF      1338 non-null   int64
 36  TotalBsmtSF    1338 non-null   int64
 37  Heating        1338 non-null   object
 38  HeatingQC      1338 non-null   object
 39  CentralAir     1338 non-null   object
 40  Electrical     1338 non-null   object
 41  1stFlrSF       1338 non-null   int64
 42  2ndFlrSF       1338 non-null   int64
 43  LowQualFinSF   1338 non-null   int64
 44  GrLivArea      1338 non-null   int64
 45  BsmtFullBath   1338 non-null   int64
 46  BsmtHalfBath   1338 non-null   int64
 47  FullBath       1338 non-null   int64
 48  HalfBath       1338 non-null   int64
 49  BedroomAbvGr   1338 non-null   int64
 50  KitchenAbvGr   1338 non-null   int64
 51  KitchenQual    1338 non-null   object
 52  TotRmsAbvGrd   1338 non-null   int64
 53  Functional     1338 non-null   object
 54  Fireplaces     1338 non-null   int64
 55  GarageType     1338 non-null   object
 56  GarageYrBlt    1338 non-null   float64
 57  GarageFinish   1338 non-null   object
 58  GarageCars     1338 non-null   int64
 59  GarageArea     1338 non-null   int64
 60  GarageQual     1338 non-null   object
 61  GarageCond     1338 non-null   object
 62  PavedDrive     1338 non-null   object
 63  WoodDeckSF     1338 non-null   int64
 64  OpenPorchSF    1338 non-null   int64
 65  EnclosedPorch  1338 non-null   int64
 66  3SsnPorch      1338 non-null   int64
 67  ScreenPorch    1338 non-null   int64
 68  PoolArea       1338 non-null   int64
 69  MiscVal        1338 non-null   int64
 70  MoSold         1338 non-null   int64
 71  YrSold         1338 non-null   int64
 72  SaleType       1338 non-null   object
 73  SaleCondition  1338 non-null   object
 74  SalePrice      1338 non-null   int64
 75  C (all)        1338 non-null   int64
 76  FV             1338 non-null   int64
 77  RH             1338 non-null   int64
 78  RL             1338 non-null   int64
 79  RM             1338 non-null   int64
dtypes: float64(2), int64(41), object(37)
memory usage: 836.4+ KB

In [4]:
df.describe()

,Unnamed: 0,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,PoolArea,MiscVal,MoSold,YrSold,SalePrice,C (all),FV,RH,RL,RM
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,...,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,730.228700,731.228700,56.136024,70.621076,10706.294469,6.219731,5.596413,1973.029148,1985.668909,110.360239,...,3.010463,42.932735,6.331839,2007.805680,186761.782511,0.005979,0.046338,0.008221,0.796712,0.142750
std,421.779691,421.779691,41.252576,22.161826,10336.621126,1.324472,1.078124,29.563540,20.296463,185.604816,...,41.961337,508.056255,2.699437,1.330691,78913.847668,0.077122,0.210294,0.090331,0.402596,0.349949
min,0.000000,1.000000,20.000000,21.000000,1300.000000,2.000000,2.000000,1880.000000,1950.000000,0.000000,...,0.000000,0.000000,1.000000,2006.000000,35311.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,365.250000,366.250000,20.000000,60.000000,7744.000000,5.000000,5.000000,1956.000000,1968.000000,0.000000,...,0.000000,0.000000,5.000000,2007.000000,135000.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,729.500000,730.500000,50.000000,70.000000,9600.000000,6.000000,5.000000,1976.000000,1994.500000,0.000000,...,0.000000,0.000000,6.000000,2008.000000,168500.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1097.750000,1098.750000,70.000000,80.000000,11760.750000,7.000000,6.000000,2001.000000,2004.000000,174.000000,...,0.000000,0.000000,8.000000,2009.000000,220000.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1459.000000,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,738.000000,15500.000000,12.000000,2010.000000,755000.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [7]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
df["BsmtFinSF1"].isnull().sum()

0

In [9]:
df = df.drop(columns=["Fence"], axis = 1)

In [17]:
df = df.drop(columns=["FireplaceQu"], axis = 1)

In [15]:
df = df.drop(columns=["PoolQC", "MiscFeature"], axis = 1)

In [18]:
pd.set_option('display.max_rows', None)

df.isnull().sum()

Id                0
MSSubClass        0
MSZoning          0
LotFrontage       0
LotArea           0
Street            0
LotShape          0
LandContour       0
Utilities         0
LotConfig         0
LandSlope         0
Neighborhood      0
Condition1        0
Condition2        0
BldgType          0
HouseStyle        0
OverallQual       0
OverallCond       0
YearBuilt         0
YearRemodAdd      0
RoofStyle         0
RoofMatl          0
Exterior1st       0
Exterior2nd       0
MasVnrType        8
MasVnrArea        8
ExterQual         0
ExterCond         0
Foundation        0
BsmtQual         37
BsmtCond         37
BsmtExposure     38
BsmtFinType1     37
BsmtFinSF1        0
BsmtFinType2     38
BsmtFinSF2        0
BsmtUnfSF         0
TotalBsmtSF       0
Heating           0
HeatingQC         0
CentralAir        0
Electrical        1
1stFlrSF          0
2ndFlrSF          0
LowQualFinSF      0
GrLivArea         0
BsmtFullBath      0
BsmtHalfBath      0
FullBath          0
HalfBath          0
BedroomAbvGr      0
KitchenAbvGr      0
KitchenQual       0
TotRmsAbvGrd      0
Functional        0
Fireplaces        0
GarageType       81
GarageYrBlt      81
GarageFinish     81
GarageCars        0
GarageArea        0
GarageQual       81
GarageCond       81
PavedDrive        0
WoodDeckSF        0
OpenPorchSF       0
EnclosedPorch     0
3SsnPorch         0
ScreenPorch       0
PoolArea          0
MiscVal           0
MoSold            0
YrSold            0
SaleType          0
SaleCondition     0
SalePrice         0
dtype: int64

In [11]:
mean = df["LotFrontage"].mean()
df["LotFrontage"] = df["LotFrontage"].fillna(value=mean)

In [12]:
df.isnull().sum().sum()

4158

In [48]:
pd.set_option('display.max_columns', None)

In [20]:
df.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
dtype: int64

In [19]:
df = df.dropna(how="any", axis = 0)

In [23]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,...,1338.000000,1338.000000,1338.000000,1338.000000,1338.00000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,731.228700,56.136024,70.630187,10706.294469,6.219731,5.596413,1973.029148,1985.668909,110.360239,464.234679,...,99.384903,47.782511,21.263827,3.585949,16.43423,3.010463,42.932735,6.331839,2007.805680,186761.782511
std,421.779691,41.252576,22.161578,10336.621126,1.324472,1.078124,29.563540,20.296463,185.604816,458.792420,...,127.537065,65.362562,60.843964,30.224622,58.05159,41.961337,508.056255,2.699437,1.330691,78913.847668
min,1.000000,20.000000,21.000000,1300.000000,2.000000,2.000000,1880.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,2006.000000,35311.000000
25%,366.250000,20.000000,60.000000,7744.000000,5.000000,5.000000,1956.000000,1968.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,5.000000,2007.000000,135000.000000
50%,730.500000,50.000000,70.049958,9600.000000,6.000000,5.000000,1976.000000,1994.500000,0.000000,413.000000,...,6.000000,28.000000,0.000000,0.000000,0.00000,0.000000,0.000000,6.000000,2008.000000,168500.000000
75%,1098.750000,70.000000,80.000000,11760.750000,7.000000,6.000000,2001.000000,2004.000000,174.000000,733.000000,...,174.500000,70.000000,0.000000,0.000000,0.00000,0.000000,0.000000,8.000000,2009.000000,220000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.00000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1338 entries, 0 to 1459
Data columns (total 76 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1338 non-null   int64
 1   MSSubClass     1338 non-null   int64
 2   MSZoning       1338 non-null   object
 3   LotFrontage    1338 non-null   int32
 4   LotArea        1338 non-null   int64
 5   Street         1338 non-null   object
 6   LotShape       1338 non-null   object
 7   LandContour    1338 non-null   object
 8   Utilities      1338 non-null   object
 9   LotConfig      1338 non-null   object
 10  LandSlope      1338 non-null   object
 11  Neighborhood   1338 non-null   object
 12  Condition1     1338 non-null   object
 13  Condition2     1338 non-null   object
 14  BldgType       1338 non-null   object
 15  HouseStyle     1338 non-null   object
 16  OverallQual    1338 non-null   int64
 17  OverallCond    1338 non-null   int64
 18  YearBuilt      1338 non-null   int64
 19  YearRemodAdd   1338 non-null   int64
 20  RoofStyle      1338 non-null   object
 21  RoofMatl       1338 non-null   object
 22  Exterior1st    1338 non-null   object
 23  Exterior2nd    1338 non-null   object
 24  MasVnrType     1338 non-null   object
 25  MasVnrArea     1338 non-null   float64
 26  ExterQual      1338 non-null   object
 27  ExterCond      1338 non-null   object
 28  Foundation     1338 non-null   object
 29  BsmtQual       1338 non-null   object
 30  BsmtCond       1338 non-null   object
 31  BsmtExposure   1338 non-null   object
 32  BsmtFinType1   1338 non-null   object
 33  BsmtFinSF1     1338 non-null   int64
 34  BsmtFinType2   1338 non-null   object
 35  BsmtFinSF2     1338 non-null   int64
 36  BsmtUnfSF      1338 non-null   int64
 37  TotalBsmtSF    1338 non-null   int64
 38  Heating        1338 non-null   object
 39  HeatingQC      1338 non-null   object
 40  CentralAir     1338 non-null   object
 41  Electrical     1338 non-null   object
 42  1stFlrSF       1338 non-null   int64
 43  2ndFlrSF       1338 non-null   int64
 44  LowQualFinSF   1338 non-null   int64
 45  GrLivArea      1338 non-null   int64
 46  BsmtFullBath   1338 non-null   int64
 47  BsmtHalfBath   1338 non-null   int64
 48  FullBath       1338 non-null   int64
 49  HalfBath       1338 non-null   int64
 50  BedroomAbvGr   1338 non-null   int64
 51  KitchenAbvGr   1338 non-null   int64
 52  KitchenQual    1338 non-null   object
 53  TotRmsAbvGrd   1338 non-null   int64
 54  Functional     1338 non-null   object
 55  Fireplaces     1338 non-null   int64
 56  GarageType     1338 non-null   object
 57  GarageYrBlt    1338 non-null   float64
 58  GarageFinish   1338 non-null   object
 59  GarageCars     1338 non-null   int64
 60  GarageArea     1338 non-null   int64
 61  GarageQual     1338 non-null   object
 62  GarageCond     1338 non-null   object
 63  PavedDrive     1338 non-null   object
 64  WoodDeckSF     1338 non-null   int64
 65  OpenPorchSF    1338 non-null   int64
 66  EnclosedPorch  1338 non-null   int64
 67  3SsnPorch      1338 non-null   int64
 68  ScreenPorch    1338 non-null   int64
 69  PoolArea       1338 non-null   int64
 70  MiscVal        1338 non-null   int64
 71  MoSold         1338 non-null   int64
 72  YrSold         1338 non-null   int64
 73  SaleType       1338 non-null   object
 74  SaleCondition  1338 non-null   object
 75  SalePrice      1338 non-null   int64
dtypes: float64(2), int32(1), int64(35), object(38)
memory usage: 799.7+ KB

In [26]:
df["LotFrontage"] = df["LotFrontage"].astype(int)

In [27]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [29]:
df["MSZoning"].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [30]:
dummies = pd.get_dummies(df.MSZoning)

In [32]:
df = pd.concat([df, dummies], axis="columns")

In [36]:
df = df.drop(columns=["MSZoning"], axis = 1)

In [7]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,C (all),FV,RH,RL,RM
0,1,60,65,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,2,2008,WD,Normal,208500,0,0,0,1,0
1,2,20,80,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,5,2007,WD,Normal,181500,0,0,0,1,0
2,3,60,68,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,9,2008,WD,Normal,223500,0,0,0,1,0
3,4,70,60,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,2,2006,WD,Abnorml,140000,0,0,0,1,0
4,5,60,84,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,12,2008,WD,Normal,250000,0,0,0,1,0